/*Google font*/

@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

/*Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Gruppo, sans-serif;
    position: absolute;
    

    /*Generic project styles*/
    color: #2a2a2a;
}

h1, h2, h3 {
    font-family: 'gruppo', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
    
    
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}

header a {
    text-decoration: none;
    color: inherit;
}


#menu {
    font-size: 100%;
    letter-spacing: 2px;
    list-style-type: none;
    
}

#menu > li {
    margin-bottom: 1em;
   
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}



/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    padding-top: 0.5rem;
}


/*Navbar style with dropdown toggle*/

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
    

}
 
/*Nav Toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle{
    display: none;
    color: #2a2a2a;

}

.nav-toggle-label {
    font-size: 2rem;
}
/* Main Section*/

main {
    background-color: #DADFF7;
    /*make main element take up any suplus space*/
    flex: 1 0 auto;
    
   
}

/*Hero section*/
.hero {
    height: 600px;
    width: 100%;
    background: url(../images/pexels-alex-green-5699431.webp) no-repeat center center/ cover;
    position: relative;
    
}

#cover-text {
    background-color:#353d2f;
    opacity: .8;
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 70%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
  
}

#cover-text > h2, #cover-text > h3 {
    color: #ffffff;
    font-weight: bold;
}

/*About me section*/

#about {
    text-align: center;
    font-size: 100%;
    padding: 10px 10px;
    margin: 0 5px;
    color: #2a2a2a;
  
}


#about h3 {
    font-size: 130%;
    text-transform: uppercase;
    padding-bottom: 4px;
}

.circle-cover-bg {
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /*to make the image into a circle*/
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;

}

.circle-cover-bg-2 {
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /*to make the image into a circle*/
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    
}


.circle-cover-bg-3 {
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /*to make the image into a circle*/
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#about-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Services section*/

#services {
    text-align: center;
    font-family: gruppo,sans-serif;
    padding-bottom: 5px;
    
}

.card {
    min-height: 200px;
}

.card-body {
    background-color:#353d2f;
    opacity: .9;
    color: #DADFF7;
    display: flex;
    flex-direction: column;

}

.card-text.card-title {
    font-family: gruppo,sans-serif;
    columns: #2a2a2a;
}

.card-title {
    text-transform: uppercase;
    font-weight: bold;
}

#services.btn-btn-light:hover {
    background-color: #DADFF7;
    border-color: #a2a77f;
}


/*Footer section*/
footer {
    background-color: #353d2f;
    line-height: 40px;
    color: #DADFF7;
    padding-left: 4px;
   
}

#social-networks {
    text-align: center;
    padding: 5px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}

#social-networks i {
    color: #ffffff;
    
}

footer >h3 {
    text-align: center;
    color: #DADFF7;
}

footer p {
    text-align: center;
    font-size: 25px;
}

/*Media Queries/*


/*Media queries: Tablets and larger (768px and up.)*/
@media screen and (min-width:768px) {

    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;

    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 125%;
        line-height: 50px;
        margin: 0 0.5rem;
    }

    /*Main Content*/
    main {
        /*Push margin content down to accomadate for larger screens*/
        margin-top: 60px
    }

    /*Hero*/
    #cover-text {
        width: 300px;
        right: 50px;

    }

    /*Services Section*/

    .card-body {
        min-height: 400px;
        display: flex;
        flex-direction: column;
        
    }

    /*Footer*/

  

}

    
/*Media queries: Laptops & Desktops (992px and up.)*/
@media screen and (min-width:992px) {

    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }

    #logo {
        font-size: 175%;
        line-height: 50px;
        margin: 0 0.5rem;
    }

     /*Main Content*/
     main {
        /*Push margin content down to accomadate for larger screens*/
        margin-top: 75px;
    }

    #menu {
        display: flex;
        font-size: 125%;
    }

    /*Hero*/
    #cover-text {
        width: 600px;
        

    }


    /*About section*/
    #about-who {
        text-align: start;
        justify-content: flex-start;
        width: 85%;
        padding-bottom: 40px;
        justify-self: center;
        
        
          
    }

    .circle-cover-bg {
        float: right;
        max-width: 250px;
        max-height: 250px;
        justify-content: space-between;
       
       
         
    }

    #about-approach {
        text-align: start;
        justify-content:flex-start;
        width: 85%;
        padding-bottom: 40px;
        justify-self: center;
        margin-right: 1rem;
        
    }

    .circle-cover-bg-2 {
        float: right;
        max-width: 250px;
        max-height: 250px;
        
         
    }

    #about-why {
        text-align: start;
        justify-content: flex-start;
        width: 85%;
        padding-bottom: 40px;
        justify-self: center;
        
          
    }

    .circle-cover-bg-3 {
        float: right;
        max-width: 250px;
        max-height: 250px;
        
       
         
    }

    /*Services Section */

    #services {
        display: flex;
        justify-content: space-evenly;
    }

    .card {
        min-height: 750px;
        
    }

    .card-body {
        display: flex;
        flex-direction: column;
    }

    .card-text.card-title {
        font-size: 120%;
    }

    

}

   /*Media queries: XL screens (1000px and up.)*/
@media screen and (min-width:1000px) {

    #hero {
        max-width: 900px;
    }

    /*About section*/
    #about-who {
        text-align: center;
        justify-content: center;
        width: 100%;
        padding-bottom: 100px;
        font-size: 120%;
        
          
    }

    .circle-cover-bg {
        float: right;
        max-width: 250px;
        max-height: 250px;
       
       
         
    }

    #about-approach {
        text-align: start;
        justify-content:flex-start;
        width: 100%;
        padding-bottom: 100px;
        font-size: 120%;
        margin-top: 1rem;
        
    }

    .circle-cover-bg-2 {
        float: right;
        max-width: 250px;
        max-height: 250px;
        
         
    }

    #about-why {
        text-align: start;
        width: 100%;
        font-size: 120%;
        margin-top: 1rem;
        
          
    }

    .circle-cover-bg-3 {
        float: right;
        max-width: 250px;
        max-height: 250px;
        
       
         
    }


    }

/*Media quries: XXL screen sizes (1200px and above)*/
@media screen and (min-width:1200px) {

       /*About section*/
       #about-who {
        text-align: start;
        justify-content: flex-start;
        width: 100%;
        padding-bottom: 100px;
        font-size: 120%;
        
          
    }

    .circle-cover-bg {
        float: right;
        max-width: 250px;
        max-height: 250px;
       
       
         
    }

    #about-approach {
        text-align: start;
        justify-content:flex-start;
        width: 100%;
        padding-bottom: 100px;
        font-size: 120%;
        margin-top: 1rem;
        
    }

    .circle-cover-bg-2 {
        float: right;
        max-width: 250px;
        max-height: 250px;
        
         
    }

    #about-why {
        text-align: start;
        width: 100%;
        font-size: 120%;
        margin-top: 1rem;
        
          
    }

    .circle-cover-bg-3 {
        float: right;
        max-width: 250px;
        max-height: 250px;
        
       
         
    }
   

    
}

