/*Google font*/

@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

/*Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Gruppo, sans-serif;
    

    /*Generic project styles*/
    color: #2a2a2a;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'gruppo', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
    
}

#logo {
    font-size: 100%;
    line-height: 30px;
    margin: 0 0.5rem;
    
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
    
}

#menu > li {
    margin-bottom: 1em;
   
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}



/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    padding-top: 0.5rem;
}


/*Navbar style with dropdown toggle*/

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
    

}
 
/*Nav Toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle{
    display: none;
    color: #2a2a2a;

}

.nav-toggle-label {
    font-size: 2rem;
}
/* Main Section*/

main {
    background-color: #DADFF7;
    /*make main element take up any suplus space*/
    flex: 1 0 auto;
    margin-top: 75px;
    
}
/*About me section*/

#about {
    text-align: center;
    font-size: 90%;
    padding: 10px 10px;
    margin: 0 5px;
    color: #2a2a2a;
}

#about h3 {
    font-size: 100%;
    text-transform: uppercase;
    padding-bottom: 4px;
}

/*hero image*/
.hero {
    width: 100%;
    max-height: 400px;
}

/*Services section*/

#services {
    text-align: center;
    font-family: gruppo,sans-serif;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid #353d2f;
    padding: 10px;
}

.card-body {
    background-color:#a2a77f ;
}

.card-text,.card-title {
    font-family: gruppo,sans-serif;
    columns: #2a2a2a;
}

.card-title {
    text-transform: uppercase;
    font-weight: bold;
}


/*Footer section*/
footer {
    background-color: #353d2f;
    line-height: 40px;
    color: #ffffff;
    padding-left: 4px;
   
}

#social-networks {
    text-align: center;
    padding: 5px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}

#social-networks i {
    color: #ffffff;
    
}

footer >h3 {
    text-align: center;
}

footer p {
    text-align: center;
    font-size: 25px;
}

/*Media Queries/*

/*Media queries: Tablets and larger (768px and up.)*/
@media screen and (min-width:768px) {

    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;

    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 125%;
        line-height: 50px;
        margin: 0 0.5rem;
    }

    /*Main Content*/
    main {
        /*Push margin content down to accomadate for larger screens*/
        margin-top: 50px;
    }
}
    
/*Media queries: Laptops & Desktops (992px and up.)*/
@media screen and (min-width:992px) {

    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }

    #logo {
        font-size: 175%;
        line-height: 50px;
        margin: 0 0.5rem;
    }

     /*Main Content*/
     main {
        /*Push margin content down to accomadate for larger screens*/
        margin-top: 55px;
    }

    #menu {
        display: flex;
        font-size: 125%;
    }
}
